@charset "utf-8";
.Month {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 300%;
	color: #e58f28;
	background-color: #232323;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	padding:0;
	margin:0;
}

